@layout("/common/_container.html"){

		<div class="row" style="padding:10px 16px 10px 16px;">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="alert alert-block alert-info">
					<button type="button" class="close" data-dismiss="alert">
						<i class="ace-icon fa fa-times"></i>
					</button>

					<i class="ace-icon fa fa-check "></i>
					欢迎使用
					<strong class="info">
						Blade 企业级开发平台
						<small>(v1.0)</small>
					</strong>,
					以下为快速地址导向
				</div>
				
				<div class="alert alert-block alert-info">
					<button type="button" class="close" data-dismiss="alert">
						<i class="ace-icon fa fa-times"></i>
					</button>

					<i class="ace-icon fa fa-check "></i>
					使用技术:
					<strong class="info">
						Spring + SpringMVC + Beetl + BeetlSql + Ehcache + Shiro + BootStrap
					</strong>
				</div>
				
				<div class="alert alert-block alert-info">
					<button type="button" class="close" data-dismiss="alert">
						<i class="ace-icon fa fa-times"></i>
					</button>

					<i class="ace-icon fa fa-check "></i>
					ECharts范例官网
					<strong class="info">
						<a class="info" href="http://echarts.baidu.com/examples.html" target="_blank">http://echarts.baidu.com/examples.html</a>
					</strong>
				</div>
				
				<div class="alert alert-block alert-info">
					<button type="button" class="close" data-dismiss="alert">
						<i class="ace-icon fa fa-times"></i>
					</button>

					<i class="ace-icon fa fa-check "></i>
					Beetl文档
					<strong>
						<a class="info" href="https://javamonkey.github.io/guide/#beetl" target="_blank">https://javamonkey.github.io/guide/#beetl</a>
					</strong>
				</div>
				
				<div class="alert alert-block alert-info">
					<button type="button" class="close" data-dismiss="alert">
						<i class="ace-icon fa fa-times"></i>
					</button>

					<i class="ace-icon fa fa-check "></i>
					BeetlSql文档
					<strong>
						<a class="info" href="https://javamonkey.github.io/guide/#beetlsql" target="_blank">https://javamonkey.github.io/guide/#beetlsql</a>
					</strong>
				</div>
				
				<div class="alert alert-block alert-info">
					<button type="button" class="close" data-dismiss="alert">
						<i class="ace-icon fa fa-times"></i>
					</button>

					<i class="ace-icon fa fa-check "></i>
					BootStrap在线帮助
					<strong>
						<a class="info" href="http://www.runoob.com/bootstrap/bootstrap-tutorial.html" target="_blank">http://www.runoob.com/bootstrap/bootstrap-tutorial.html</a>
					</strong>
				</div>
				
				<div class="alert alert-block alert-info">
					<button type="button" class="close" data-dismiss="alert">
						<i class="ace-icon fa fa-times"></i>
					</button>

					<i class="ace-icon fa fa-check "></i>
					BootStrap图标选择
					<strong>
						<a class="info" href="http://fontawesome.io/icons/" target="_blank">http://fontawesome.io/icons/</a>
					</strong>
				</div>
				
			
			</div>
	  </div>

@}